{{> navbar}}

<div class="container">
	{{#each challenges}}
	<div class="card">
		<div class="cardHead">
			<h3>{{@key}}</h3>
			<h3>{{this.type}}</h3>
		</div>

		<p class="description">{{this.description}}</p>

		<a href="{{this.location}}">{{this.attachment}}</a>

		<form action="/home/{{@key}}" method="POST">
			<input type="text" name="flag" placeholder="Demo flag: CTF{fl4g}">
			<input type="submit" class="submitButton" value="Submit">
		</form>
	</div>
	{{/each}}
</div>